/* Foundations */

* {
  box-sizing: border-box;

}

html {
  font-size: 10px;
}

body {
  font-family: merriweather, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;

}

/* Main Containers */

.container{
  max-width: 480px;
  margin: auto;
  overflow: hidden;
}

.showcase {
  color: #E5E6E2;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* H1- H6 */
.showcase h1 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8.5rem;
    line-height: 10.1rem;;
    letter-spacing: -.05rem;
    padding: 8rem 0 2.5rem 0;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #E5E6E2;
    -webkit-text-fill-color: transparent;

}

.showcase h2 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: -.05rem;
  padding: 2.5rem 0;
  color: #E5E6E2;
}

.showcase h3 {
  font-family: merriweather, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: -.05rem;
  padding: 2.5rem 0;
  color: #E5E6E2;
}

.showcase h4 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3.1rem;
  letter-spacing: -.05rem;
  padding: 2.5rem 0;
  color: #E5E6E2;
}

.showcase h5 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.6rem;
  line-height: 4.6rem;;
  padding: 2.5rem 0;
  -webkit-text-stroke-width: 0.075rem;
  -webkit-text-stroke-color: #E5E6E2;
  -webkit-text-fill-color: transparent;
}


.showcase p {
  padding: 2.5rem 0;
}

/* Nav Bar */
nav {
  display: flex;
  background-color: #211F20;
  padding: 1rem 1.5rem 1rem 1.5rem;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 100%;
  z-index: 1;
  padding-top: 0.5rem;
}

nav > a {
  width: 38%;
  z-index: 1;
}

/* Footer Bar */
footer {
  position: fixed;
  justify-content: center;
  background-color: #211F20;
  padding: 1.5rem;
  align-items: center;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.fab, .fas {
  float: left;
  color: #E5E6E2;
  text-align: center;
  width: 16.6%;
}

footer > ul {
  font-size: 2.6rem;
}

/* Buttons */
button.main {
  background-color: #CC2936;
  border: none;
  color: #E5E6E2;
  padding: 1rem;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 2.5rem;
  width: 20.27rem;
  height: 5rem;
}

button.secondary {
  background: transparent;
  border: solid .2rem;
  color: #E5E6E2;
  padding: 1rem;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 2.5rem;
  width: 20.27rem;
  height: 5rem;
}

form {
  text-align: center;
  padding: 2.5rem 0;
}

/* Landing Page */

.inner.landingPage {
 display: flex;
 flex-direction: column;
 position: relative;
 width: 100vw;
 height: auto;
 background: linear-gradient(180deg, #CC2936 0%, #235789 100%);
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 2.5rem 1.5rem;
}


.fa-chevron-down {
  float: none;
  color: #E5E6E2;
  font-size: 2.4rem;
  padding: 2.5rem 0;
}

/* RECENT PROJECTS */

/* Project 1 */
.inner.project1 {
  background: #211F20;
  justify-content: center;
  text-align: left;
  padding: 2.5rem 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 2.5rem;
}

/* Project 2 */
.inner.project2 {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem 7.5rem 1.5rem;
}

/* ABOUT ME */

/* Landing */

.inner.aboutMe {
  text-align: left;
  background: linear-gradient(180deg, #CC2936 0%, #235789 100%);
  justify-content: center;
  padding: 2.5rem 1.5rem;

}

.headshot {
  text-align: center;
  padding-top: 8rem;
}

/* Pursuits */

.inner.pursuits {
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

/* Values */
.inner.values {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem 7.5rem 1.5rem;
}

/* CASE STUDY */

/* 1.) Summary */

/* Landing */
.inner.assemble {
  text-align: left;
  background: linear-gradient(180deg, #CC2936 0%, #235789 100%);
  justify-content: center;
  padding: 2.5rem 1.5rem;
}

.assemblePH {
  padding-top: 5.5rem;
}

.caseStudyIntro {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* Roles Tools Details */

.inner.rtd {
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

.detailItem {
  font-size: 1.6rem;
  line-height: 3rem;
}

/* Problem and Solution */
.inner.problemSolution {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

/* Slider */
/* Slideshow container */
.slideshow-container {
  max-width: 480px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.5rem;
  color: #E5E6E2;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(33,31,32,.4);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: .75rem;
  width: .75rem;
  margin: 0 0.2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #211F20;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* 2.) Discovery and Research */

/* User Surveys */
.inner.survey {
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

/* Competitive Analysis */
.inner.analysis {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 480px;
  padding: 2.5rem 0;

}

img.competitor {
  width: 33.33%;
  height: 0;
}

/* Survey Results */
.inner.survey_results {
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

h4.redLine {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #CC2936;
}

/* Personas */
.inner.personas {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

h4.blueLine {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #235789;
}

.groupPersonas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.personaContent {
  text-align: left;
}

img.persona {
  max-width: 75%;
  height: auto;
}

/* 3.)INFORMATION ARCHITECTURE */

/* User Stories */
.inner.userStories {
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

.categories {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0rem 1.5rem;
}

.story {
  max-width: 50%;
  height: auto;
  text-align: center;
}

/* User Flows */
.inner.userFlows {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

/* Wireframes */
.inner.wireframes {
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

/* User Testing */
.inner.userTesting {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

h4.blackLine {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #211F20;
}

/* User Testing */
.inner.userTesting {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

/* 4.) VISUAL DESIGN */

/* Branding */
.inner.branding {
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

.traits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.image_container{
  text-align: center;
}

/* Branding: Typeface */
.inner.brandingType {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

/* Branding: Color */
.inner.brandingColor {
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

.pallete {
  display: flex;
  padding: 2.5rem 0 1.5rem 0;
}

.colorBox {
  width: 11.31rem;
  height: 11.31rem;
  max-width: 25%;
}


/* Transition */
.inner.transition {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

/* Mock Ups */
.inner.mockUps{
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

/* Preference Testing */
.inner.preference {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem;
}

/* 5.) FINISHING TOUCHES */
.inner.finishing{
  background: #211F20;
  padding: 2.5rem 1.5rem;
}

/* 6.) FINAL THOUGHTS */
.inner.finalThoughts {
  background: #E5E6E2;
  padding: 2.5rem 1.5rem 7.5rem 1.5rem;
}
